@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.input-invisible {
  @apply bg-transparent border-none focus:ring-0 p-0 w-full;
}
